@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(28, 7, 7);
    --color: rgb(251, 241, 241);
  }
} */

body {
  background-color: #eef2fc;
  color: #0303030b;
  font-family: 'Inter', sans-serif;
}

h1, h2, h3 {
  font-family: 'Roboto Mono', monospace;
  color: #3c3d3d;
}
h4, h5, h6 {
  font-family: 'Orbitron', sans-serif;
  color: #2d2d2d;
}
p {
  color: #1d1d1e;
  font-size: 15px;
}
a {
  color: #201114;
  font-weight: bold;
  border-radius: 8px;
}

@keyframes slide {
  0%   { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

.animate-slide {
  animation: slide 12s linear infinite;
}
