@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(28, 7, 7);
    --color: rgb(251, 241, 241);
  }
}

body {
  background-color: #0F172A;
  color: #F8FAFC;
  font-family: 'Inter', sans-serif;
}

h1, h2, h3 {
  font-family: 'Poppins', sans-serif;
  color: #00E396;
}
p {
  color: #F8FAFC;
}
a {
  color: #ffffff;
  font-weight: bold;
  border-radius: 8px;
  padding-inline: 4px;
}

